/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header{
    background-image: url(../img/jumbo.png);
}

footer{
    background-color: #23272a;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/*Header*/

/*Navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-list{
    display: flex;
    list-style-type: none;
}

li{
    padding: 20px;
    color: white;
}

.button-accedi{
    border-radius: 40px;
    padding: 10px;
    border: none;
}

/*Jumbotron*/

.jumbotron{
    min-height: 600px;
    max-width:  50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 30px 0;
}

h2{
    text-align: center;
    color: white;
    padding: 30px 0;
}
.flex-a{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.download-mac{
    padding: 20px;
    border-radius: 40px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

.special{
    font-weight: 600;
    font-size: 20px;
}

.discord-browser{
    padding: 20px;
    color: white;
    background-color: #23272a;
    border-radius: 40px;
    border: none;
    font-weight: 600;
    font-size: 20px;
}

/*Main*/

/*section row*/

.row{
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-reverse{
    min-height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.bg-grey{
    background-color: #f6f6f6;
}


.row-left{
    flex-basis: 60%;
    min-height: 500px;
}

.row-right{
    flex-basis: 40%;
    min-height: 500px;
}

.title{
    padding: 10px;
    font-size: 50px;
    font-weight: 700;
}

.description{
    padding: 10px;
    font-size: 20px;
    
}

/*section direction column*/

.direction-column{
    min-height: 1200px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.big-title{
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
}

.small-description{
    padding: 10px;
    font-size: 22px;
    
}

.img-text{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 30px;
}

.button-bg-blue{
    padding: 30px 20px;
    border-radius: 40px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: #8ea1e1;
}

/*first footer*/

.columns{
    height: 500px;
    display: flex;
    align-items: center;
    padding-bottom: 1px solid white;
}

.column-left{
    flex-basis: 30%;
    min-height: 400px;
}

.column-right{
    flex-basis: 70%;
    min-height: 400px;
    display: flex;
}

.text-icon{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #7289da;
}

#flag{
    margin: 10px;
    width: 30px;
    height: 20px;
    vertical-align: middle;
}

.text-flag{
    color: white;
}

.button-icon{
    padding: 20px;
}

.dashed{
    width: calc(100% / 4);
    max-height: 400px;
    list-style-type: none;
    color: white;
    padding: 10px;
}

.blu-li{
    color: #7289da;
    padding: 10px;
}